* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a {
  text-decoration: none !important;
}
.custom-arrow-next {
  position: absolute;
  z-index: 1;
  bottom: 3px;
  /* background-color: aliceblue; */
  border: 1px solid #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  right: 3px;
}
.custom-arrow-prev {
  position: absolute;
  z-index: 1;
  bottom: 3px;
  right: 30px;
  /* background-color: aliceblue; */
  border: 1px solid #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
}
.carasoul-container{
  padding: 1rem;
  background-color: red;
}